.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
}

.popup{
    width: 500px;
    background: #fff;
    border-radius:6px ;
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
   transition: transform 0.4s, top 0.4s;
    visibility: hidden;
    
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
}
.popup img{
    width: 100px;
    margin-top: -20px;
    border-radius: 70%;
   margin-left: 165px;
    
}
.popup h2{
    font-size: 30px;
    font-weight: 500;
    margin: 5px 0 10px;
}

.popup .button-row button{
    width: 25%;
    margin-top: 50px;
    padding: 10px 0;
   
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

