<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>controllers.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controllers.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>controllers.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsFormController_Admin</servlet-name>
        <servlet-class>controllers.ProductsFormController_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController_Admin</servlet-name>
        <servlet-class>controllers.AdminController_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController_Admin</servlet-name>
        <servlet-class>controllers.UpdateController_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController_Admin</servlet-name>
        <servlet-class>controllers.AddController_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockController_Admin</servlet-name>
        <servlet-class>controllers.BlockController_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controllers.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePageLoginController</servlet-name>
        <servlet-class>controllers.homePageLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileController</servlet-name>
        <servlet-class>controllers.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileController</servlet-name>
        <servlet-class>controllers.updateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDeviceController</servlet-name>
        <servlet-class>controllers.MyDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractController</servlet-name>
        <servlet-class>controllers.ContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>controllers.TransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPageController</servlet-name>
        <servlet-class>controllers.RequestPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestClient</servlet-name>
        <servlet-class>controllers.CreateRequestClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/productController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsFormController_Admin</servlet-name>
        <url-pattern>/ProductsFormController_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController_Admin</servlet-name>
        <url-pattern>/AdminController_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController_Admin</servlet-name>
        <url-pattern>/UpdateController_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController_Admin</servlet-name>
        <url-pattern>/AddController_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockController_Admin</servlet-name>
        <url-pattern>/BlockController_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePageLoginController</servlet-name>
        <url-pattern>/homePageLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileController</servlet-name>
        <url-pattern>/profileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileController</servlet-name>
        <url-pattern>/updateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDeviceController</servlet-name>
        <url-pattern>/MyDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractController</servlet-name>
        <url-pattern>/ContractController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/TransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPageController</servlet-name>
        <url-pattern>/RequestPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestClient</servlet-name>
        <url-pattern>/CreateRequestClient</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainController</welcome-file>
    </welcome-file-list>
</web-app>
